.azeret-mono-font {
  font-family: "Azeret Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
body {
  width: 90%;
  margin: 0 auto;
}
section {
  margin: 70px 0;
}
.txt-center{
    text-align: center;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.resume-btn button {
  padding: 12px 24px;
  background-color: #ffffff;
  border: 1px solid #95afc0;
  font-weight: 600;
  border-radius: 5px;
  font-family: "Azeret Mono", serif;
}
/* Hero section Style */
.hero {
  background-image: url("/assets/Hero-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
  width: 100%;
  margin: 0 0 70px 0;
}
.hero-container {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero-container p {
  color: #95afc0;
}
.hero-container button {
  padding: 12px 24px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  font-family: "Azeret Mono", serif;
}

/* why section */

.whydev-sec{
    background-color: #0d132133;
    padding: 80px 100px;
    border-radius: 16px;
}
.whydev-card-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.whydev-card{
    padding: 50px 50px;
    background-color: #FFFFFF;
    border-radius: 16px;
}
.whydev-content{
    display: flex;
    align-items: center;
} 
.whydev-card-btn{
    padding: 12px 20px;
    font-family: "Azeret Mono", serif;
    border: 1px solid #95afc0;
    background-color: #FFFFFF;
}
.mydev-cont-2{
    display: flex;
    flex-direction: r;
}